* {
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #4F517D;
    color: whitesmoke;
}

.logo {
    max-width: 10rem;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem 2rem;
    background-color: antiquewhite;
    position: relative; 
}

.site_name {
    font-size: 2rem;
    color: black;
}


.open, .close {
    display: block; 
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 100%; 
    right: 0;
    left: 0; 
    background-color: antiquewhite;
    padding: 2rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.nav.visible {
    opacity: 1;
    visibility: visible;
}

.nav_list {
    display: flex;
    flex-direction: column; 
    list-style-type: none;
    gap: 2rem;
    width: 100%; 
    align-items: center;
}

.nav_list li a {
    text-decoration: none;
    color: #4F517D;
    font-size: 2rem;
}


main {
    padding: 1rem;
}

.content {
    display: flex; 
    flex-direction: column;
    gap: 2rem; 
}

.about_me, .photo {
    padding: 2rem;
    border: white 2px solid;
    border-radius: 15px;
}
.photo img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}
.photo h1, .about_me h2 {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.about_me {
    font-size: 1.3rem;
}


.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.buttons button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: antiquewhite;
    color: black;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    width: 100%
}

.courses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
    color: white;
    font-size: 1.3rem;
}
.totalCredits {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: bold;
}

footer {
    background-color: #A997DF;
    color: black;
    font-size: 1.3rem;
}

.footer_content {
    padding: 1rem 2rem;
    text-align: center;
}

.social_media {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}
.course{
    align-items: center;
}
.dialog {
    border: 2px solid black;
    border-radius: 10px;
    padding: 1rem;
    background-color: white;
    color: black;
    max-width: 50%;
    max-height: 50%;
    margin: auto;
}
::backdrop {
    background: rgba(0, 0, 0, 0.5);
}
.close_modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    cursor: pointer;
}
#animation {
    font-size: 3rem;
    text-align: center;
    animation: spin 4s linear infinite alternate;
    margin-bottom: 1rem;
}

#animation ::after {
    content: "⚙️";
    transform: translate(-50%, -50%);
    animation: spin 2s linear infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.animation2{
    content: "z";    
    color: white;
    width: 70px;
    height: 70px;
    font-size: 3rem;
    position: relative;
    text-align: center;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.animation2::after{
    content: "🚀";
    transform: translate(-50%, -50%);
}
.animation2:hover {
    animation-play-state: paused;
}
@keyframes move {
    from {
        left: 10px;
    }
    to{
        left: 95%;
    }
}