@media screen and (min-width: 601px) {
    
    
    .open, .close {
        display: none; 
    }

    .nav {
        all: unset; 
        display: block;
        visibility: visible ;
    }

    .nav_list {
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
    }

    .nav_list li a {
        font-size: 1.3rem; 
        color: black; 
        text-decoration: none;
    }

    
    .content {
        display: grid; 
        grid-template-columns: 2fr 1fr;
        gap: 4rem; 
    }
    
}